# --- Python Specifics ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Environments ---
.venv/
venv/
env/
bin/
lib/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/

# --- IDEs & Editors ---
.vscode/
.idea/
*.swp
*.swo

# --- System Junk ---
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# --- Project Specifics ---
*.log
captures/
